.customized-scrollbar {
    height: 100%;
    overflow-y: scroll;
}
/* Add a thumb */
.customized-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(38, 133, 35, 0.69);
}
.customized-scrollbar::-webkit-scrollbar {
    width: .7em;
}
