$color-light-grey: #767676;
$color-white-grey: #cecece;
$color-green: #4CAF50;
$color-red: #F44336;
.header {
    // position: fixed;
    width: 100%;
    height: 65px;
    background-color: $color-green;
    box-shadow: 0 1px 1px #878787;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}

#search-container {
    // margin-top: 15px;
    .input-field {
        margin-top: 8px;
    }
    input {
        margin-bottom: 0;
        color: white;
        
    }
    input:focus {
        border-bottom: 1px solid white;
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;
    }
    .active {
        color: white;
    }
}
.stylish-input-group .input-group-addon {
    background: white !important;
}
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}

.logo-title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    line-height: 65px;
    height: 100%;
}

.new-form {
    background-color: #eeeeee;
    height: 100%;
    margin-top: 80px;
}
body {
    background-color: #eeeeee;
}

.template-card-container {
    margin-top: 15px;
    padding: 15px;
}

.template-card {
    /* box-shadow: 0 1px 1px #878787; */
    border: 1px white solid;
    cursor: pointer;
    transition: border-color 0.2s ease;
}
.template-card-thumbnail {
    width: 100%;
    height: 300px;
    background-image: url("/assets/img/temp1.png");
    background-position: center;
    background-size: cover;
}
.template-name {
    width: 100%;
    background-color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.template-card:hover {
    border: 1px green solid;
    box-shadow: 0 1px 1px #878787;
}

.title-new-form {
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #55555a;
}

.your-forms {
    background-color: #394242;
    height: 100%;
}

.title-your-forms {
    font-size: 20px;
    font-weight: bold;
    color: #eeeeee;
    margin-top: 15px;
    text-align: left;
    padding-left: 10px;
}

.container {
    text-align: center;
}
.form-create {
    background-color: white;
    box-shadow: -5px 5px 5px 0 #e0e0e0;
    text-align: left;
}

@media (min-width: 1200px) {
    .containter {
        width: 970px;
    }
}

.title-survey-new-form {
    float: left;
}
.settings-button {
    float: right;
    cursor: pointer;
}

.active-tab {
    border-bottom: 2px solid $color-green;
    color: $color-green;
}

.tabs {
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
    padding: 20px;
    padding-bottom: 0;
}

.questions-tab {
    display: inline-block;
    font-size: 18px;
    height: 27px;
    line-height: 100%;
    cursor: pointer;
}

.responses-tab {
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 100%;
    cursor: pointer;
    margin-left: 20px;
}

.group {
    position: relative;
    margin-bottom: 15px;
}


.form-title,
.form-description {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.form-description {
    padding-bottom: 20px;
}
.survey-form-create {

}


.form-description {
    padding-top: 0;
}

.form-info {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    padding-top: 20px;
}

.form-content {
    
}

.option-materialize {
    display: block;
}

.menu-settings {
    top: 80px;
    position: fixed;
    right: 10%;
    background-color: white;
    width: 40px;
    height: 200px;
    box-shadow: -5px 0px 5px 0 #e0e0e0;
    @media (max-width: 768px) {
        right: 2%;
    }
}

.settings-icon {
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    line-height: 40px;
    color: #767676;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.settings-icon:hover {
    background-color: $color-light-grey;
    color: white;
}

.survey-form {
    position: relative;
    height: calc(100% - 50px);
    overflow: auto;
    padding-bottom: 50px;
    @media (min-width: 1200px) {
        width: 970px
    }
    @media (min-width: 992px) {
        width: 750px;
    }
    @media (min-width: 768px) {
        width: 650px;
    }
}

.group {
    input {
        margin-bottom: 0px !important;
    }

    
}
.select-materialize {
    label {
         margin-left: 5px;
    }
    margin-top: 30px;
}

.form-question {
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #cecece;
    position: relative;
}

.material-icons {
    margin-top: 9px;
    color: white;
}
.caret {
    border-right: none;
    border-left: none;
    margin-right: 5px !important;
}

select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    color: rgba(0,0,0, 0.26);
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
  }
   
 

  .delete-area {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      color: $color-light-grey;
      z-index: 10;
  }

  .active-area { 
    border: 2px solid $color-green;
    transition: box-shadow 0.3s ease-in-out;    
      box-shadow: -5px 5px 3px $color-white-grey, 5px 5px 3px $color-white-grey, 5px -5px 3px $color-white-grey, -5px -5px 3px $color-white-grey  ;
  }

  .multiple-answer {
      .radio-answer {
          position: relative;
      }
      position: relative;
      input {
          margin-left: 0 !important;
      }
      .check-box {
          display: inline-block;
          width: 10%;
      }
      .icon-radio {
          color: $color-light-grey;
          text-align: left;
          display: inline-block;
        //   position: absolute;
          top: 5px;
          left: -2px;
          width: 10%;
          i {
              color: $color-light-grey;
          }
      }
      .input-text-radio {
          width: 70%;
          display: inline-block;
      }
  }

  .btn:hover {
      color: white;
  }

  .option-answer {
      padding-left: 10px;
      padding-right: 10px;
  }

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    color: $color-light-grey;
    
}

// .btn {
//     background-color: white !important;
//     color: $color-green;
// }
// .btn:hover {
//     color: $color-green
// }
.btn-save-survey-container {
    position: fixed;
    right: 10%;
    bottom: 100px;
    
}
.btn-preview-survey-container {
    position: fixed;
    right: 10%;
    bottom: 150px;
}

.btn-submit-survey-container {
    position: fixed;
    right: 10%;
    bottom: 50px;
    
}


.error-message {
    position: fixed;
    left: 5%;
    top: 40%;
    background-color: $color-red;
    color: white;
    padding: 15px;
    // border-radius: 5px 5px 5px 5px;
    box-shadow: -5px 2px 5px 0 #B3B3B3;
    opacity:0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:0.4s;
    -moz-animation-duration:0.4s;
    animation-duration:0.4s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.form-submit {
    input:focus {
        box-shadow: 0 0 0 0 !important;
    }
    color: $color-light-grey;
    .form-title {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
    }

    .form-info {
        border-bottom: 1px solid $color-white-grey;
    }

    .form-description {
        text-align: left;
        font-size: 16px; 

    }

    .question-field {
        padding: 20px;
    }
    
    .question {
        font-size: 16px;
        font-weight: 600;
    }
    .error-message-container {
        background-color: $color-red;
        color: white;
        text-align: left;
        margin-top: 50px;
        padding: 40px;
        font-weight: bold;
    }
    .label-checkbox {
        top: 0;
    }
}

.input-option-create {
    margin-left: 10%;
    margin-right: 10%;
}
.align-center {
    text-align: center
}

.btn-save {
    color: white !important;
    span {
        color: white !important;
    }
}

.search-input-container {
    display: inline-block;
}
.additional-container {
    position: relative;
    .delete-area {
        top: 6px;
    }
}

.additional-question-container {
    position: relative;
    .delete-area {
        top: 10px;
        right: 50px;
    }
}

.question-info {
    .question {
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 5px;
    }
    .description {
        font-size: 15px;
        font-style: italic;
    }
}

.padding-25 {
    padding: 25px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}
.padding-25-except-top {
    padding: 0 25px 25px 25px;
}

.content {
    border: 1px solid $color-white-grey;
    padding: 15px;
    .content-description {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        font-style: italic
    }
    .content-question {
        display: inline-block;
        width: 50%;
    }
    .content-answer {
        display: inline-block;
        width: 50%;
    }
}

.survey-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.survey-description {
    font-size: 17px;
    font-style: italic;
    padding-bottom: 20px;
}

.component-question {
    border-top: 1px solid $color-white-grey
}

.question-client-survey {
    padding-top: 30px
}

.dropdown-multi {
    margin: 5%;
    border: 1px solid $color-white-grey;
    padding: 15px;
    .title {
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        font-style: italic;
    }
}

.pos-relative {
    position: relative;
}