a {
  color: white !important;
  text-decoration: none !important;
  &:hover {
    color: #afafaf !important;
  }
  &:focus {
    border: none !important;
    outline: none !important;
  }
  &:visited &:active {
    color: inherit !important;
  }
}
